listbuttons
{
    background-color:"black";
    color:"yellow";
    font:"15px";
    width:"100px";
}
body
{
    background-color:rgb(69, 176, 243);
}
li
{
    font-size: 25px;
}
h1
{
    text-align: center;
    color: rgb(0, 0, 0);
}
button
{
    background-color: rgb(8, 56, 65);
    color: #fff;
    height: 40px;
    width:  120px;
    animation-delay: 5ms;
    border-radius: 10px;
    padding: 10px;
}
button:hover
{
    background-color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);    
}
.close
{
    color: red;
    position: absolute;
    right: 1.5rem;
    margin-left: 10rem;
}
.close:hover {
    background-color:orangered;
    color: white;
  }
#inputfield
{
    font-size: 18px;
    background-color: rgb(197, 247, 240);
    border-style: solid;
    text-align: center;
    height: 46px;
    width: 100%;   
}

#listdiv
{
    background-color: #9cd3f5;
    border-radius: 15px;
    size: 50%;
    align-self: center;
}

