listbuttons
{
    background-color:"black";
    color:"yellow";
    font:"15px";
    width:"100px";
}
body
{
    background-color:rgb(69, 176, 243);
}
h1
{
    text-align: center;
    color: rgb(0, 0, 0);
}
button
{
    background-color: rgb(8, 56, 65);
    color: #fff;
    height: 40px;
    width:  120px;
    animation-delay: 5ms;
    border-radius: 10px;
    padding: 10px;

}
button:hover
{
    background-color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

    /* color: white; */
    
}
#inputfield
{
    /* 
    background-color: lightskyblue;
    margin-left: 40px;*/
    margin-right: 50%;
    font-size: 18px;
    background-color: rgb(197, 247, 240);
    border-style: solid;
    text-align: center;
    height: 46px;
    width: 100%;
    
}
#inputfield:hover
{
    /* background-color: rgb(66, 253, 72);
    color: black; */
} 
#listdiv
{
    background-color: rgb(9, 172, 172);
    border-radius: 15px;
    border-style: solid;
}

