@media(min-device-width:600px)
{
.container-fluid
{
  width: 500px;
  margin: 0 auto;
  position: relative;
}
}
listbuttons
{
    background-color:"black";
    color:"yellow";
    font:"15px";
    width:"100px";
}
body
{
    background-color: yellow;
}
li
{
    font-size: 20px;
    /* background-color:rgb(20, 151, 238); */
    background-color: orange;
    border-radius: 10px;
    list-style-type: none;
    margin-top: 0.8rem;
    padding-left: 1rem;
    padding-right: 4.8rem; 
    margin-left: -2rem;
    animation: example 2s;
}
@keyframes example {
    0%   {background-color: tomato;}
    0%   {font-size:0px;}
    /* 25%  {background-color: yellow;}
    25%  {font-size: 20px;} */
    50%  {background-color: yellow;}
    50%  {font-size: 25px;}
    /* 75%  {background-color: rgb(248, 170, 80);}
    75%  {font-size: 30px;} */
    100% {font-size:20px;}
}
ul
{
    background-color: yellow;
}
h1
{
    /* text-shadow: 2px 2px 5px black; */
    text-align: center;
    color:black;
}
button
{
    background-color: rgb(8, 56, 65);
    color: #fff;
    height: 40px;
    width:  120px;
    animation-delay: 5ms;
    border-radius: 10px;
    padding: 10px;
}
button:hover
{
    background-color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);    
}
.delete
{
    color: black;
    position: absolute;
    right: 1.5rem;

}
.delete:hover {
    background-color:red;
    color: rgb(39, 39, 43);
  }
  .edit
  {
    color: black;
    position: absolute;
    /* margin-inline-end: 5rem; */
    right: 3rem;
  }
  .edit:hover {
    background-color:red;
    color: black;
  }
#inputfield
{
    box-shadow: 10px 10px;
    font-size: 18px;
    background-color: tomato;
    border-style: solid;
    text-align: center;
    height: 46px;
    width: 100%;   
}
/* #maindiv
{
    margin-left: 25%;
    margin-right: 25%
} */


